.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transition-duration: 0.5s;

  height: 200px;
  width: 500px;
  text-align: center;

  background-color: #fff;

  padding: 1rem;
  border-radius: 10px;
  box-sizing: border-box;
  transition-duration: 0.5s;

  border: solid 0.1px rgba(0, 0, 0, 0.1);

  .handle {
    position: absolute;
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
    cursor: grab;
  }
}
