.scroll {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.frame {
  background: rgba($color: #000, $alpha: 0.05);
  height: 100%;
  position: relative;

  .curve {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    svg {
      pointer-events: none;
      width: 100%;
      height: 100%;
    }
  }

  .branch-card {
    position: absolute;
    border-radius: 16px;
    border: solid 0.1px rgba(0, 0, 0, 0.1);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: white;
  }

  .anchor {
    position: absolute;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .choice {
    position: absolute;
    border: solid 0.1px rgba(0, 0, 0, 0.1);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 16px;
    padding: 0.5rem 1rem;
    transform: translateY(-50%);
    box-sizing: border-box;
    background-color: white;

    .text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .handle {
      vertical-align: middle;
      position: absolute;
      right: -32px;
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}
