.card-interaction {
  height: 100%;
  width: 100%;
  position: relative;

  .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    content: "";
    overflow: hidden;
  }

  #ghost {
    position: absolute;
    top: 10px;
  }
}
